apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "thunderhelm.fullname" . }}-env
  labels:
    {{- include "thunderhelm.labels" . | nindent 4 }}
data:
  {{- range $k, $v := .Values.env }}
  {{- if ne $k "secrets" }}
  {{ $k }}: {{ $v | quote }}
  {{- end }}
  {{- end }}
