{{- if .Values.livebook.enabled }}
{{- $secrets := .Values.livebook.secrets -}}
{{- if and .Values.livebook.ingress.enabled (not $secrets.password) }}
{{- fail "livebook.ingress.enabled=true requires livebook.secrets.password to be set." -}}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "thunderhelm.fullname" . }}-livebook
  labels:
    {{- include "thunderhelm.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if $secrets.password }}
  LIVEBOOK_PASSWORD: {{ $secrets.password | b64enc | quote }}
  {{- end }}
  LIVEBOOK_SECRET_KEY_BASE: {{ default (randAlphaNum 64) $secrets.secretKeyBase | b64enc | quote }}
  LIVEBOOK_COOKIE: {{ default (randAlphaNum 32) $secrets.cookie | b64enc | quote }}
{{- end }}
